@import url(http://weloveiconfonts.com/api/?family=zocial);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=iconicfill);
@import url(http://weloveiconfonts.com/api/?family=typicons);
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url(../Image/bg.png);
  z-index: -10; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc; }

::-webkit-scrollbar-thumb {
  background-color: #ccc; }

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; }

#eff3 {
  background-image: -webkit-linear-gradient(left, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff);
  background-image: -moz-linear-gradient(left, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff);
  background-image: -ms-linear-gradient(left, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff);
  background-image: -o-linear-gradient(left, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff);
  background-image: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #00ffff, #0000ff, #8b00ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

#eff4 {
  background: #00b506 -webkit-gradient(linear, left top, right top, from(#00b506), to(#00b506), color-stop(0.5, #ffffff)) 0 0 no-repeat;
  color: rgba(255, 255, 255, 0.1);
  font-size: 120px;
  font-weight: bold;
  position: relative;
  -webkit-animation: shine 2s infinite;
  -webkit-background-clip: text;
  -webkit-background-size: 300px; }

#eff1 {
  color: #00b506;
  font-size: 25px;
  text-shadow: 0px 0px 0 #009900, 1px 1px 0 #007e00, 2px 2px 0 #006200, 3px 3px 0 #004600, 4px 4px 0 #002a00, 5px 5px 0 #000f00, 6px 6px 0 black, 7px 7px 0 black, 8px 8px 7px rgba(0, 0, 0, 0.75), 8px 8px 1px rgba(0, 0, 0, 0.5), 0px 0px 7px rgba(0, 0, 0, 0.2); }

@-webkit-keyframes shine {
  0% {
    background-position: top left; }
  100% {
    background-position: top right; } }
.Header1 {
  background: #2E3639;
  height: 90px;
  width: 1344px;
  position: relative;
  bottom: 7px; }
  .Header1 .Advert a img {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 460px;
    height: 88px;
    background-color: #2E3639;
    background-image: url(../Image/NS.gif); }
  .Header1 .TruyCap {
    position: absolute;
    bottom: 0px; }
    .Header1 .TruyCap .A {
      position: absolute;
      left: 940px;
      bottom: 60px;
      color: white;
      width: 400px;
      float: right;
      font-size: 18px; }
    .Header1 .TruyCap .Page {
      position: relative;
      left: 1050px; }
      .Header1 .TruyCap .Page .Icon {
        height: 50px;
        width: 70px;
        display: inline-table; }

.Header2 {
  position: relative; }
  .Header2 .Logo {
    position: relative;
    bottom: 7px;
    right: 0%; }
    .Header2 .Logo img {
      width: 100%; }
  .Header2 .Resign {
    position: absolute;
    right: 120px;
    z-index: 20;
    bottom: 125px;
    display: inline-block; }
    .Header2 .Resign a {
      font-size: 20px;
      color: blue;
      text-decoration: none; }
      .Header2 .Resign a:hover {
        text-decoration: underline;
        background-image: url(../Image/NS2.gif); }

input {
  outline: none; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
  /* remove the search and cancel icon */ }

form {
  position: relative; }
  form .Search {
    position: absolute;
    left: 400px;
    bottom: 210px;
    /* search input field */
    /* placeholder */ }
    form .Search input[type=search] {
      background: #ededed url(../Image/searchbutton.gif) no-repeat 9px center;
      border: solid 1px #ccc;
      padding: 9px 10px 9px 32px;
      width: 355px;
      -webkit-border-radius: 10em;
      -moz-border-radius: 10em;
      border-radius: 10em;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s; }
    form .Search input[type=search]:focus {
      width: 455px;
      background-color: #fff;
      border-color: #6dcff6;
      -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }
    form .Search input:-moz-placeholder {
      color: #999;
      text-indent: 15px; }
    form .Search input::-webkit-input-placeholder {
      color: #999;
      text-indent: 15px; }

.MenuHead {
  position: absolute;
  left: 32.5%;
  bottom: 510px; }
  .MenuHead a {
    font-size: 20px;
    color: black;
    font-family: Arial;
    display: inline-table;
    width: 165px;
    text-decoration: none; }
  .MenuHead #Video {
    position: relative;
    left: 22px; }

.MenuDrop {
  position: relative;
  bottom: 112px;
  background: orange; }
  .MenuDrop ul {
    position: relative;
    left: 85px;
    list-style-type: none;
    width: 1140px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: white;
    height: 50px;
    line-height: 50px; }
    .MenuDrop ul li {
      display: inline-table;
      font-size: 20px;
      font-family: Arial;
      width: 153px;
      text-align: center; }
      .MenuDrop ul li:hover {
        background: #0EB7F0; }
        .MenuDrop ul li:hover .SubMenuBXH {
          position: absolute;
          display: block;
          box-shadow: 5px 10px 5px #000; }
        .MenuDrop ul li:hover .SubMenuTL {
          position: absolute;
          display: block;
          box-shadow: 5px 10px 5px #000;
          z-index: 2; }
      .MenuDrop ul li > .SubMenuTL {
        display: none;
        position: absolute;
        width: 220px;
        top: 50px;
        height: 256px;
        left: 197px;
        background: #0EB7F0;
        margin-bottom: 60px; }
        .MenuDrop ul li > .SubMenuTL p {
          display: block;
          position: relative;
          font-size: 18px;
          text-align: left;
          top: -5px;
          width: 220px;
          height: 40px;
          margin: 4px;
          right: 4px; }
          .MenuDrop ul li > .SubMenuTL p:hover {
            background-color: #f1f1f1; }
      .MenuDrop ul li a {
        color: black;
        text-decoration: none; }

.BXH {
  position: absolute;
  top: 710px;
  left: 840px; }
  .BXH #I1 {
    position: relative;
    top: 53px; }
  .BXH #I2 {
    position: relative;
    bottom: 73px;
    left: 287px; }
  .BXH h1 {
    border-bottom: 2px solid red;
    width: 85%;
    font-size: 24px;
    text-indent: 61px;
    height: 45px;
    line-height: 45px; }
  .BXH table {
    width: 85%;
    border: 2px solid white; }
    .BXH table thead tr {
      background-color: #02F75C; }
    .BXH table tbody tr {
      text-align: center; }
      .BXH table tbody tr .Vitri {
        width: 110px;
        vertical-align: center;
        color: white;
        font-size: 20px; }
        .BXH table tbody tr .Vitri img {
          width: 80px;
          height: 105px; }
      .BXH table tbody tr .TenBH {
        width: 500px; }
        .BXH table tbody tr .TenBH p {
          margin-left: -50px; }
        .BXH table tbody tr .TenBH .Album {
          width: 100px;
          height: 70px;
          position: absolute;
          height: 60px;
          line-height: 60px;
          left: 130px; }
        .BXH table tbody tr .TenBH p:nth-of-type(1) {
          font-size: 16px;
          font-weight: bold;
          color: white;
          position: relative;
          bottom: 10px;
          left: 150px;
          text-align: left; }
          .BXH table tbody tr .TenBH p:nth-of-type(1):hover {
            color: red; }
        .BXH table tbody tr .TenBH p:nth-of-type(2) {
          font-size: 12px;
          font-style: italic;
          color: yellow;
          position: relative;
          bottom: 10px;
          left: 150px;
          text-align: left; }
          .BXH table tbody tr .TenBH p:nth-of-type(2):hover {
            color: red; }
      .BXH table tbody tr a {
        text-decoration: none; }
        .BXH table tbody tr a:hover {
          color: red; }
    .BXH table tbody caption {
      font-size: 20px; }

.FormYeuCau {
  position: absolute;
  top: 277px;
  height: 890px;
  left: 860px;
  border: 2px solid black; }
  .FormYeuCau h1 {
    color: red; }
  .FormYeuCau .Control {
    position: absolute;
    left: 20px; }
    .FormYeuCau .Control .fieldset1 {
      padding-right: 50px;
      height: 280px;
      width: 360px; }
    .FormYeuCau .Control .fieldset2 {
      padding-right: 50px;
      height: 420px;
      width: 360px; }
    .FormYeuCau .Control label {
      left: 10px; }
    .FormYeuCau .Control .Text {
      position: absolute;
      left: 135px;
      display: inline-block;
      padding: 8px 9px;
      padding-right: 30px;
      width: 240px;
      font-family: 'Oxygen', sans-serif;
      font-weight: normal;
      color: #898989;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
      -moz-box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
      box-shadow: 0 1px 2px rgba(25, 25, 25, 0.25) inset, -1px 1px #fff;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .FormYeuCau .Control .Text:focus {
        width: 250px;
        color: #545454;
        background-color: #fff;
        background-position: 110% center;
        background-repeat: no-repeat;
        border-color: #059;
        -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
        -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
        box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7); }
      .FormYeuCau .Control .Text:valid {
        background-color: #deecda;
        background-position: 98% center;
        background-repeat: no-repeat;
        color: #7d996e;
        border: 1px solid #95bc7d; }
      .FormYeuCau .Control .Text:focus, .FormYeuCau .Control .Text:valid {
        -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
        -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
        box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7); }
    .FormYeuCau .Control .Radio {
      position: relative;
      left: 40px; }
    .FormYeuCau .Control .LabelGT {
      position: relative;
      left: 40px; }
    .FormYeuCau .Control .LabelTL {
      position: relative; }
      .FormYeuCau .Control .LabelTL select {
        padding: 3px;
        position: absolute;
        left: 40px;
        margin: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
        background: #f8f8f8;
        color: #888;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer; }
        .FormYeuCau .Control .LabelTL select:before {
          content: '';
          right: 6px;
          top: 0px;
          width: 20px;
          height: 20px;
          background: #f8f8f8;
          position: absolute;
          pointer-events: none;
          display: block; }
        .FormYeuCau .Control .LabelTL select:after {
          content: '<>';
          font: 11px "Consolas", monospace;
          color: #aaa;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          right: 8px;
          top: 2px;
          padding: 0 0 2px;
          border-bottom: 1px solid #ddd;
          position: absolute;
          pointer-events: none; }
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .FormYeuCau .Control .LabelTL select {
          padding-right: 18px; } }
    .FormYeuCau .Control textarea {
      display: inline-block;
      padding: 8px 11px;
      position: relative;
      left: 70px;
      width: 300px;
      height: 110px;
      font-family: 'Oxygen', sans-serif;
      font-weight: normal;
      color: #898989;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset;
      -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset;
      box-shadow: 0 1px 4px -1px #a8a8a8 inset;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .FormYeuCau .Control textarea:focus {
        width: 310px;
        color: #545454;
        background-color: #fff;
        background-position: 110% center;
        background-repeat: no-repeat;
        border-color: #059;
        -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
        -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7);
        box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(70, 100, 200, 0.7); }
      .FormYeuCau .Control textarea:valid {
        background-color: #deecda;
        background-position: 98% 4%;
        background-repeat: no-repeat;
        color: #7d996e;
        border: 1px solid #95bc7d; }
      .FormYeuCau .Control textarea:focus, .FormYeuCau .Control textarea:valid {
        -webkit-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
        -moz-box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7);
        box-shadow: 0 1px 4px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6), 0 0 11px rgba(120, 200, 70, 0.7); }
    .FormYeuCau .Control select {
      position: absolute;
      left: 120px; }
    .FormYeuCau .Control ::-webkit-input-placeholder {
      color: #aaafbd;
      font-style: italic; }
    .FormYeuCau .Control ::-moz-input-placeholder {
      color: #aaafbd;
      font-style: italic; }
    .FormYeuCau .Control #Nam {
      position: absolute;
      left: 90px; }
    .FormYeuCau .Control #Nu {
      position: relative;
      left: 30px;
      size: 17px; }
    .FormYeuCau .Control .Submit {
      height: 40px;
      width: 65px;
      padding: 0;
      cursor: pointer;
      font-family: 'Oxygen', Arial, sans-serif;
      position: relative;
      left: 180px;
      top: 10px;
      color: #0a528f;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.65);
      border-width: 1px;
      border-style: solid;
      border-color: #317bd6 #3784e3 #2d74d5 #3774e3;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #4581e5;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#6faefd), to(#4581e5));
      background-image: -webkit-linear-gradient(top, #6faefd, #4581e5);
      background-image: -moz-linear-gradient(top, #6faefd, #4581e5);
      background-image: -ms-linear-gradient(top, #6faefd, #4581e5);
      background-image: -o-linear-gradient(top, #6faefd, #4581e5);
      background-image: linear-gradient(top, #6faefd, #4581e5);
      -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .FormYeuCau .Control .Submit:hover, .FormYeuCau .Control .Submit:focus {
        -webkit-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9);
        -moz-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9);
        box-shadow: 0 0 15px rgba(70, 100, 200, 0.9); }
      .FormYeuCau .Control .Submit:active {
        -webkit-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0, 0, 0, 0.4) inset;
        -moz-box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0, 0, 0, 0.4) inset;
        box-shadow: 0 0 15px rgba(70, 100, 200, 0.9), 0 1px 3px rgba(0, 0, 0, 0.4) inset; }

.BarStatus {
  position: relative;
  left: 10px;
  top: 1000px; }
  .BarStatus #Label1 {
    font-size: 20px;
    color: red;
    display: inline; }
  .BarStatus #ProgressBar {
    position: relative;
    left: 20px;
    -webkit-appearance: none;
    border: none; }
    .BarStatus #ProgressBar::-webkit-progress-bar {
      background-color: gray;
      border-radius: 50px;
      box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2); }
    .BarStatus #ProgressBar::-webkit-progress-value {
      border-radius: 50px;
      box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
      background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #ba7448, #c4672d);
      background-size: 25px 14px, 100% 100%, 100% 100%;
      -webkit-animation: move 5s linear 0 infinite; }
@-webkit-keyframes move {
  0% {
    background-position: 0px 0px, 0 0, 0 0; }
  100% {
    background-position: -100px 0px, 0 0, 0 0; } }
.CaSi {
  position: absolute;
  left: 95px;
  top: 550px;
  z-index: 1; }
  .CaSi .Big img {
    width: 700px;
    height: 270px; }
  .CaSi .Sub img {
    display: inline-table;
    height: 75px;
    width: 137px; }
    .CaSi .Sub img:hover {
      width: 142px;
      height: 84px; }

.ChuDe {
  position: absolute;
  z-index: 10;
  left: 840px;
  right: 0px;
  top: 278px; }
  .ChuDe a {
    text-decoration: none;
    color: white;
    line-height: 0.5;
    font-style: none;
    height: 110px; }
    .ChuDe a img {
      display: block;
      width: 440px;
      height: 85px; }
    .ChuDe a h3 {
      position: relative;
      bottom: 40px;
      font-family: TimesNewRoman;
      vertical-align: bottom 20px;
      left: 20px;
      font-size: 20px; }

.BHNew {
  position: relative;
  left: 90px;
  top: 580px; }
  .BHNew #I1 {
    position: relative;
    top: 50px; }
  .BHNew #I2 {
    position: relative;
    bottom: 54px;
    left: 300px; }
  .BHNew h1 {
    border-bottom: 2px solid red;
    width: 710px;
    height: 40px;
    text-indent: 46px;
    height: 45px;
    line-height: 40px; }
  .BHNew .MusicPlaylist {
    border: 2px solid black;
    width: 705px;
    background: gray;
    border-radius: 10px; }
    .BHNew .MusicPlaylist .Player {
      display: inline-table;
      position: relative;
      background: #F7F7F7;
      border-radius: 8px; }
      .BHNew .MusicPlaylist .Player audio {
        position: relative;
        left: 05px; }
      .BHNew .MusicPlaylist .Player marquee {
        position: relative;
        bottom: 05px;
        width: 404px; }
    .BHNew .MusicPlaylist #ListSong {
      position: relative; }
      .BHNew .MusicPlaylist #ListSong .B1 a {
        text-decoration: none; }
      .BHNew .MusicPlaylist #ListSong .B1 ul {
        list-style-type: none;
        width: 970px;
        height: -10px; }
        .BHNew .MusicPlaylist #ListSong .B1 ul li {
          display: inline-block;
          font-size: 16px;
          font-family: Arial;
          width: 269px; }
        .BHNew .MusicPlaylist #ListSong .B1 ul .fontawesome-heart {
          color: red; }
        .BHNew .MusicPlaylist #ListSong .B1 ul .typicons-user {
          color: #0EB7F0;
          position: relative;
          right: 30px; }
        .BHNew .MusicPlaylist #ListSong .B1 ul .typicons-forward {
          position: relative;
          right: 30px;
          color: yellow; }
      .BHNew .MusicPlaylist #ListSong li {
        color: white;
        font-style: none; }

.HotKaraoke {
  position: absolute;
  top: 1740px;
  left: 95px; }
  .HotKaraoke #I1 {
    position: relative;
    top: 50px; }
  .HotKaraoke #I2 {
    position: relative;
    bottom: 61px;
    left: 330px; }
  .HotKaraoke h1 {
    border-bottom: 2px solid red;
    width: 710px;
    height: 40px;
    text-indent: 65px;
    height: 45px;
    line-height: 40px; }
  .HotKaraoke a {
    text-decoration: none;
    color: white; }
  .HotKaraoke .A {
    width: 220px; }
    .HotKaraoke .A img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .A #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .A #Song:hover {
        color: red; }
    .HotKaraoke .A #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .A #Singer:hover {
        color: red; }
  .HotKaraoke .B {
    position: absolute;
    left: 245px;
    bottom: 0px;
    width: 220px; }
    .HotKaraoke .B img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .B #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .B #Song:hover {
        color: red; }
    .HotKaraoke .B #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .B #Singer:hover {
        color: red; }
  .HotKaraoke .C {
    position: absolute;
    left: 490px;
    bottom: 0px;
    width: 220px; }
    .HotKaraoke .C img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .C #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .C #Song:hover {
        color: red; }
    .HotKaraoke .C #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .C #Singer:hover {
        color: red; }
  .HotKaraoke .D {
    position: absolute;
    left: 0px;
    bottom: -250px;
    width: 220px; }
    .HotKaraoke .D img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .D #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .D #Song:hover {
        color: red; }
    .HotKaraoke .D #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .D #Singer:hover {
        color: red; }
  .HotKaraoke .E {
    position: absolute;
    left: 245px;
    bottom: -250px;
    width: 220px; }
    .HotKaraoke .E img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .E #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .E #Song:hover {
        color: red; }
    .HotKaraoke .E #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .E #Singer:hover {
        color: red; }
  .HotKaraoke .F {
    position: absolute;
    left: 490px;
    bottom: -250px;
    width: 220px; }
    .HotKaraoke .F img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .F #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .F #Song:hover {
        color: red; }
    .HotKaraoke .F #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .F #Singer:hover {
        color: red; }
  .HotKaraoke .G {
    position: absolute;
    left: 0px;
    bottom: -500px;
    width: 220px; }
    .HotKaraoke .G img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .G #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .G #Song:hover {
        color: red; }
    .HotKaraoke .G #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .G #Singer:hover {
        color: red; }
  .HotKaraoke .H {
    position: absolute;
    left: 245px;
    bottom: -500px;
    width: 220px; }
    .HotKaraoke .H img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .H #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .H #Song:hover {
        color: red; }
    .HotKaraoke .H #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .H #Singer:hover {
        color: red; }
  .HotKaraoke .I {
    position: absolute;
    left: 490px;
    bottom: -500px;
    width: 220px; }
    .HotKaraoke .I img {
      width: 220px;
      height: 150px; }
    .HotKaraoke .I #Song {
      text-align: center;
      font-family: Arail; }
      .HotKaraoke .I #Song:hover {
        color: red; }
    .HotKaraoke .I #Singer {
      color: yellow;
      font-family: Myriad Pro Condensed Italic;
      text-align: center;
      font-size: 16px; }
      .HotKaraoke .I #Singer:hover {
        color: red; }

.NhacSong {
  position: relative;
  top: 1410px;
  left: 85px;
  display: inline; }
  .NhacSong #I1 {
    position: relative;
    top: 53px; }
  .NhacSong #I2 {
    position: relative;
    bottom: 459px;
    left: 510px; }
  .NhacSong h1 {
    border-bottom: 2px solid red;
    width: 89%;
    font-size: 24px;
    text-indent: 61px;
    height: 45px;
    line-height: 45px; }
  .NhacSong marquee {
    position: relative;
    right: 48px;
    width: 1200px;
    height: 420px;
    border-bottom: 2px solid red; }
    .NhacSong marquee .A {
      width: 220px; }
      .NhacSong marquee .A a {
        text-decoration: none; }
      .NhacSong marquee .A img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .A #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .A #Song:hover {
          color: red; }
    .NhacSong marquee .B {
      position: absolute;
      left: 250px;
      bottom: -20px;
      width: 220px; }
      .NhacSong marquee .B a {
        text-decoration: none; }
      .NhacSong marquee .B img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .B #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .B #Song:hover {
          color: red; }
    .NhacSong marquee .C {
      position: absolute;
      left: 500px;
      bottom: -20px;
      width: 220px; }
      .NhacSong marquee .C a {
        text-decoration: none; }
      .NhacSong marquee .C img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .C #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .C #Song:hover {
          color: red; }
    .NhacSong marquee .D {
      position: absolute;
      left: 750px;
      bottom: -20px;
      width: 220px; }
      .NhacSong marquee .D a {
        text-decoration: none; }
      .NhacSong marquee .D img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .D #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .D #Song:hover {
          color: red; }
    .NhacSong marquee .E {
      position: absolute;
      left: 1000px;
      bottom: -20px;
      width: 220px; }
      .NhacSong marquee .E a {
        text-decoration: none; }
      .NhacSong marquee .E img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .E #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .E #Song:hover {
          color: red; }
    .NhacSong marquee .F {
      position: absolute;
      left: 0px;
      bottom: -230px;
      width: 220px; }
      .NhacSong marquee .F a {
        text-decoration: none; }
      .NhacSong marquee .F img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .F #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .F #Song:hover {
          color: red; }
    .NhacSong marquee .G {
      position: absolute;
      left: 250px;
      bottom: -230px;
      width: 220px; }
      .NhacSong marquee .G a {
        text-decoration: none; }
      .NhacSong marquee .G img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .G #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .G #Song:hover {
          color: red; }
    .NhacSong marquee .H {
      position: absolute;
      left: 500px;
      bottom: -230px;
      width: 220px; }
      .NhacSong marquee .H a {
        text-decoration: none; }
      .NhacSong marquee .H img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .H #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .H #Song:hover {
          color: red; }
    .NhacSong marquee .I {
      position: absolute;
      left: 750px;
      bottom: -230px;
      width: 220px; }
      .NhacSong marquee .I a {
        text-decoration: none; }
      .NhacSong marquee .I img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .I #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .I #Song:hover {
          color: red; }
    .NhacSong marquee .K {
      position: absolute;
      left: 1000px;
      bottom: -230px;
      width: 220px; }
      .NhacSong marquee .K a {
        text-decoration: none; }
      .NhacSong marquee .K img {
        width: 220px;
        height: 150px; }
      .NhacSong marquee .K #Song {
        color: white;
        text-align: center;
        font-family: Myriad Pro Condensed Italic;
        font-size: 20px; }
        .NhacSong marquee .K #Song:hover {
          color: red; }

.F1 {
  position: absolute;
  top: 5000px; }

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .MenuDrop {
    bottom: 100px;
    width: 100%; }
    .MenuDrop ul {
      position: relative;
      width: 400%; }

  .Header2 .Logo {
    width: 450%; }
  .Header2 .Resign {
    position: absolute;
    left: 300%;
    margin-bottom: 20px;
    width: 100%; }

  .Header1 {
    width: 500%; }
    .Header1 .Advert a img {
      left: 455px; }
    .Header1 .TruyCap {
      display: none; }

  .ChuDe {
    display: none; }

  .CaSi {
    position: absolute;
    left: 120%;
    top: 320px;
    z-index: 1;
    width: 250%; }

  .BXH {
    width: 165%;
    left: 255%; }

  .NhacSong h1 {
    width: 385%; }
  .NhacSong marquee {
    width: 380%;
    left: 5%; }

  footer {
    width: 415%; } }
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif; }

footer {
  height: 235px;
  position: relative;
  background-color: #2E3639;
  z-index: 1;
  top: 1430px;
  bottom: 0px; }
  footer .splitter {
    background-color: #ac0;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
    height: 20px; }
  footer .Body {
    position: relative;
    height: 70px; }
    footer .Body ul {
      list-style-type: none;
      width: 140px; }
      footer .Body ul a {
        border-bottom: 2px solid rgba(192, 192, 192, 0);
        -webkit-transition: border 0.6s ease;
        -moz-transition: border 0.6s ease;
        -ms-transition: border 0.6s ease;
        -o-transition: border 0.6s ease;
        transition: border 0.6s ease;
        width: 10px;
        text-decoration: none;
        color: white; }
        footer .Body ul a:before {
          -webkit-transition-property: right;
          transition-property: right; }
        footer .Body ul a:hover {
          font-style: italic;
          border-bottom: 3px solid red; }
      footer .Body ul li {
        height: 30px;
        line-height: 30px; }
    footer .Body .U1 {
      position: relative;
      left: 200px;
      bottom: -10px; }
    footer .Body .U2 {
      position: relative;
      left: 550px;
      bottom: 185px; }
    footer .Body .U3 {
      position: relative;
      left: 900px;
      bottom: 320px; }
  footer .Bar {
    background-color: #1E2629;
    position: relative;
    bottom: -105px;
    height: 120px; }
    footer .Bar .information {
      position: relative;
      left: 100px;
      color: #778888;
      bottom: -30px; }
    footer .Bar .social {
      position: absolute;
      right: 0;
      bottom: 50px; }
      footer .Bar .social a {
        color: #778888;
        margin-left: 20px;
        text-decoration: none; }
        footer .Bar .social a:hover {
          color: #FFFFFF; }
          footer .Bar .social a:hover .icon {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg); }
      footer .Bar .social .icon {
        display: inline-block;
        font-size: 36px;
        margin-right: 5px;
        vertical-align: middle;
        -webkit-transition: -webkit-transform .3s linear;
        -moz-transition: -moz-transform .3s linear;
        -ms-transition: -ms-transform .3s linear;
        -o-transition: -o-transform .3s linear;
        transition: transform .3s linear; }
      footer .Bar .social .info {
        display: inline-block;
        vertical-align: middle; }
        footer .Bar .social .info .follow {
          display: block; }
        footer .Bar .social .info .num {
          display: block; }

.Ads {
  position: relative;
  left: 130px;
  bottom: 880px;
  display: inline-block;
  z-index: 20px; }

.pr-widget {
  position: relative;
  bottom: 0px;
  left: 100px; }

@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"), url("../Font/MYRIADPRO-CONDIT.woff") format("woff"); }
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif; }

/* typicons */
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif; }

/*# sourceMappingURL=Style.css.map */
